{% extends 'img-gallery/base.html'%}
{% block content %}

<div class="container-fluid">
    {% if category_images%}

    <h1 class="header"> {{category}}</h1>
    <div id="images">
        <div id="image-list">
            {% for image in category_images%}
            <div class="col-xs-6 col-md-4 col-sm-6 col-lg-4">
                <img onclick="showModal('{{image.image_name}}','{{image.description}}','{{image.image.url}}','{{image.location}}','{{image.category}}')"
                    class="image" src="{{image.image.url}}">

            </div>
            {% endfor%}
        </div>
    </div>
    {% else %}
    <h1 class="header-alt">There are no images in this category</h1>
    {% endif %}

</div>